@import url("./global.css");

.dd-carousel {
  position: relative;
  height: 30rem;
  width: 45rem;
  margin: 0 auto;
}
.dd-carousel > .dd-carousel_nav {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
.dd-carousel > .dd-carousel_nav > .dd-carousel_indicator {
  border: 0;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: rgba(0, 0, 0, 0.3);
  margin: 0 10px;
  cursor: pointer;
}
.dd-carousel > .dd-carousel_nav > .dd-carousel_indicator.active {
  background: rgba(0, 0, 0, 0.75);
}
.dd-carousel > .dd-carousel_button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: 0;
  cursor: pointer;
}
.dd-carousel > .dd-carousel_container {
  background: lightblue;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.dd-carousel > .dd-carousel_container > .dd-carousel_track {
  padding: 0;
  margin: 0;
  position: relative;
  height: 100%;
  transition: transform 250ms ease-in;
}
.dd-carousel
  > .dd-carousel_container
  > .dd-carousel_track
  > .dd-carousel_slide {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
}

.dd-carousel
  > .dd-carousel_container
  > .dd-carousel_track
  > .dd-carousel_slide:nth-child(1) {
  background-color: rgb(108, 33, 206);
}
.dd-carousel
  > .dd-carousel_container
  > .dd-carousel_track
  > .dd-carousel_slide:nth-child(2) {
  background-color: rgb(41, 117, 66);
}
.dd-carousel
  > .dd-carousel_container
  > .dd-carousel_track
  > .dd-carousel_slide:nth-child(3) {
  background-color: rgb(155, 35, 129);
}
.prev-button {
  left: -40px;
}
.next-button {
  right: -40px;
}
.hidden {
  display: none;
}
